.exp-progress__fill {
	height: theme("height.full");
	background-color: theme("backgroundColor.green.600");
	width: var(--kb-progress-fill-width);
}

.progress__track {
	height: theme("height.6");
	border-width: theme("borderWidth.2");
	border-color: theme("borderColor.gray.800");
}
